body {
  font-family: "Roboto";
}

/* panel */
.panel__title {
  font-size: 6rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.panel__title-school {
  color: green;
  letter-spacing: -4px;
}

.panel__subtitle {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 3px;
}

.panel__descr {
  color: blue;
  font-size: 19px;
}

.panel__btn {
  border: 1px solid;
  display: inline-block;
  padding: 20px 50px;
  background-color: blue;
  font-size: 16px;
  margin: 41px 53px;
  color: white;
  font-weight: bolder;
  background-color: #233982;
  border-radius: 30px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
/* about_us */

.about_us {
  /* border: 1px solid; */
  padding: 24px;
}

.about-us__title {
  text-align: center;
  font-size: 90px;
  margin-top: 30px;
}

.about__card-title {
  font-size: 20px;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 301px;
  max-width: 100%;
  height: 626px;
  margin-top: 20px;
  border-radius: 50px;
  text-align: center;
  padding: 10px 43px;
  border: 1px solid;
  color: white;
  background-color: #242240;
}

.author__subtitle {
  font-size: 34px;
  font-weight: bold;
  color: black;
}

.prices__title {
  margin: 0;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  text-align: center;
  color: green;
  font-size: 67px;
  font-family: "Poppins", sans-serif;
}

.prices {
  padding: 40px 0;
}

.prices__subtitle {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.question__icon {
  font-size: 25px;
}

.about_card {
  max-width: 100%;
  width: 480px;
}

.about__descr {
  font-size: 14px;
  line-height: 1.85;
  color: #000;
  font-weight: 100;
}

.about_card {
  margin-top: 50px;
}
/* form */

.form__title {
  color: rgb(25, 59, 14);
  font-size: 46px;
  text-align: center;
  font-style: italic;
}

.form-group {
  margin-top: 20px;
}

.form__section {
  background-color: #d9ffcc;
  background-image: url("../img/dragon.jpg");
  background-blend-mode: multiply;
  background-position: right;
  background-size: 55%;
  background-repeat: no-repeat;
  background-attachment: local;
  padding: 20px 0;
  margin-top: 40px;
}

.form-control {
  width: 100%;
  border-radius: 15px;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 4px solid #00b33c;
}

.form-form {
  /* border: 1px solid; */
  margin: 0 auto;
  width: 550px;
  max-width: 100%;
  padding: 10px;
}

.question__main {
  display: flex;
  justify-content: space-between;
}

.question__container {
  width: 650px;
  max-width: 100%;
}

.question__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 19px;
}

.question__answer {
  display: none;
}

.col-auto {
  color: green;
  font-size: 35px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  color: white;
}

.form-button {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 35px;
  padding: 15px 0;
  border-radius: 30px;
  color: #ffffff;
  background-color: #233982;
  transition: 0.2s linear;
}

.panel__down {
  display: flex;
  justify-content: center;
  height: auto;
}

.panel__down-icon {
  position: absolute;
  bottom: 0;
  font-size: 30px;
  animation: panel__icon 2s infinite linear;
}

.panel__down-icon a {
  color: #00b33c;
}

.question__sec-title {
  text-align: center;
  color: green;
  font-weight: 700;
  font-size: 62px;
  font-family: "Ubuntu", sans-serif;
}

.form-button:hover {
  background-color: #47a8cf;
}

.panel-top {
  padding: 50px 0;
}

.panel {
  width: 100%;
  padding: 10px 0;
  height: 100vh;
  max-height: 850px;
  background-color: #ebebe0;
  background-image: url("../img/dragon.jpg");
  background-blend-mode: multiply;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.prices__content-title {
  margin: 40px 0;
}

.btn {
  border: 1px solid #182c6e;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 20px 50px;
  border-radius: 50px;
  background-color: #182c6e;
  margin: 29px 0;
}

.price__cards {
  margin-top: 30px;
}

.review__title-block {
  text-align: center;
}

.review__title {
  color: #233982;
  font-family: "Ubuntu", sans-serif;
  font-size: 62px;
  margin-bottom: 0;
}

.review__subtitle {
  text-transform: uppercase;
  font-size: 20px;
}

.green {
  color: green;
}

.card-individ {
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.author__information {
  padding: 30px 0;
}

.footer {
  height: 65px;
  background-color: #171717;
  display: flex;
  align-items: center;
}

/* animation */

@keyframes panel__icon {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 10px);
  }
}
